iotedge check hostname validation

## Expected Behavior
iotedge check should accept a hostname starting with a digit referring to RFC1123

## Current Behavior
iotegde check throws a warning if the hostname starts with a digit referring to RFC1035

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.Set any hostname beginning with a number
2.Attach the device to IoT Hub
3.Run iotedge check

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

```


Configuration checks (aziot-identity-service)
---------------------------------------------
√ keyd configuration is well-formed - OK
√ certd configuration is well-formed - OK
√ tpmd configuration is well-formed - OK
√ identityd configuration is well-formed - OK
√ daemon configurations up-to-date with config.toml - OK
‼ identityd config toml file specifies a valid hostname - Warning
    identityd config has hostname 22112233 which does not comply with RFC 1035.

    - Hostname must be between 1 and 255 octets inclusive.
    - Each label in the hostname (component separated by ".") must be between 1 and 63 octets inclusive.
    - Each label must start with an ASCII alphabet character (a-z, A-Z), end with an ASCII alphanumeric character (a-z, A-Z, 0-9), and must contain only ASCII alphanumeric characters or hyphens (a-z, A-Z, 0-9, "-").

    Not complying with RFC 1035 may cause errors during the TLS handshake with modules and downstream devices.
        caused by: identityd config has hostname 22112233 which does not comply with RFC 1035.

                   - Hostname must be between 1 and 255 octets inclusive.
                   - Each label in the hostname (component separated by ".") must be between 1 and 63 octets inclusive.
                   - Each label must start with an ASCII alphabet character (a-z, A-Z), end with an ASCII alphanumeric character (a-z, A-Z, 0-9), and must contain only ASCII alphanumeric characters or hyphens (a-z, A-Z, 0-9, "-").

                   Not complying with RFC 1035 may cause errors during the TLS handshake with modules and downstream devices.
√ aziot-identity-service package is up-to-date - OK
√ host time is close to reference time - OK
√ preloaded certificates are valid - OK
√ keyd is running - OK
√ certd is running - OK
√ identityd is running - OK
√ read all preloaded certificates from the Certificates Service - OK
√ read all preloaded key pairs from the Keys Service - OK
√ check all EST server URLs utilize HTTPS - OK
√ ensure all preloaded certificates match preloaded private keys with the same ID - OK

Connectivity checks (aziot-identity-service)
--------------------------------------------
√ host can connect to and perform TLS handshake with iothub AMQP port - OK
√ host can connect to and perform TLS handshake with iothub HTTPS / WebSockets port - OK
√ host can connect to and perform TLS handshake with iothub MQTT port - OK

Configuration checks
--------------------
√ aziot-edged configuration is well-formed - OK
√ configuration up-to-date with config.toml - OK
√ container engine is installed and functional - OK
√ configuration has correct URIs for daemon mgmt endpoint - OK
√ aziot-edge package is up-to-date - OK
√ container time is close to host time - OK
√ DNS server - OK
√ production readiness: logs policy - OK
√ production readiness: Edge Agent's storage directory is persisted on the host filesystem - OK
√ production readiness: Edge Hub's storage directory is persisted on the host filesystem - OK
√ Agent image is valid and can be pulled from upstream - OK
√ proxy settings are consistent in aziot-edged, aziot-identityd, moby daemon and config.toml - OK

Connectivity checks
-------------------
√ container on the default network can connect to upstream AMQP port - OK
√ container on the default network can connect to upstream HTTPS / WebSockets port - OK
√ container on the default network can connect to upstream MQTT port - OK
    skipping because of not required in this configuration
√ container on the IoT Edge module network can connect to upstream AMQP port - OK
√ container on the IoT Edge module network can connect to upstream HTTPS / WebSockets port - OK
√ container on the IoT Edge module network can connect to upstream MQTT port - OK
    skipping because of not required in this configuration
34 check(s) succeeded.
1 check(s) raised warnings.
2 check(s) were skipped due to errors from other checks

```
</details>

### Device Information
* OS: Ubuntu 20.04 LTS & custom Yocto Linux
* Architecture: AMD64
* Container OS : Linux containers 

### Runtime Versions
* aziot-edged: 1.4.8
* Edge Agent: 1.4
* Edge Hub: 1.4

## Additional Information
RFC 1123 Section 2.1 describes a hostname is allowed to begin either with a digit ot a number:
>One aspect of host name syntax is hereby changed: the
>restriction on the first character is relaxed to allow either a
>letter or a digit.  Host software MUST support this more liberal
>syntax.

https://www.ietf.org/rfc/rfc1123.txt

Hey @Mirhol, see this thread for the explanation https://github.com/Azure/iotedge/issues/1224#issuecomment-497067104. We don't have plans to change that in the near future.